 <!-- Portfolio Grid -->
<section class="bg-light" id="portfolio">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading text-uppercase">Portfolio</h2>
        <h3 class="section-subheading text-muted">A Few Examples of Our Work</h3>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4 col-sm-6 portfolio-item">
        <a href="https://www.facebook.com/guestswanted">
          <img class="img-fluid" src="../../assets/img/portfolio/pro-gw.png" alt="Guests Wanted">
        </a>
        <div class="portfolio-caption">
          <h4>Guests Wanted</h4>
          <!--<p class="text-muted">Illustration</p>-->
        </div>
      </div>
      <div class="col-md-4 col-sm-6 portfolio-item">
        <a href="http://www.hakct.com">
          <img class="img-fluid" src="../../assets/img/portfolio/pro-hakct.png" alt="Hakct Technology">
        </a>
        <div class="portfolio-caption">
          <h4>Hakct</h4>
          <!--<p class="text-muted">Graphic Design</p>-->
        </div>
      </div>
      <div class="col-md-4 col-sm-6 portfolio-item">
        <img class="img-fluid" src="../../assets/img/portfolio/pro-cgn.png" alt="Charity Golf Network">
        <div class="portfolio-caption">
          <h4>Charity Golf Network</h4>
          <!--<p class="text-muted">Identity</p>-->
        </div>
      </div>

    </div>
  </div>
</section>
