<!-- Contact -->
<section id="contact">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading text-uppercase">Stay Informed</h2>
        <h3 class="section-subheading text-white">Contact Us!</h3>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 mt-3">
        <div class="card">
          <div class="card-body bg-light text-center">
            <span class="fa-stack fa-2x">
              <i class="fas fa-circle fa-stack-2x text-primary"></i>
              <i class="fas fa-phone fa-stack-1x fa-inverse"></i>
            </span>
            <h5 class="card-title">Call Us</h5>
            <p class="card-text">
              Want to learn more with a personal touch? Give us a call and we
              will be glad to help!
            </p>
            <p>Call us free!<a href="tel:+18665088066"> 1.866.508.8066</a></p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 mt-3">
        <div class="card">
          <div class="card-body bg-light text-center">
            <span class="fa-stack fa-2x">
              <i class="fas fa-circle fa-stack-2x text-primary"></i>
              <i class="fas fa-calendar-alt fa-stack-1x fa-inverse"></i>
            </span>
            <h5 class="card-title">Setup Meeting</h5>
            <p class="card-text">
              Anyone may setup a meeting for information on a more personal
              level.
            </p>
            <p>
              <a
                href="https://outlook.office365.com/owa/calendar/WireServers@wireservers.com/bookings/"
                target="_blank"
                >Create Meeting</a
              >
            </p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 mt-3">
        <div class="card">
          <div class="card-body bg-light text-center">
            <span class="fa-stack fa-2x">
              <i class="fas fa-circle fa-stack-2x text-primary"></i>
              <i class="fas fa-envelope fa-stack-1x fa-inverse"></i>
            </span>
            <h5 class="card-title">Email Us</h5>
            <p class="card-text">
              We can send you more information through email as well. Please
              feel free to reach out.
            </p>
            <p>
              <a href="mailto:info@wireservers.com">info&#64;wireservers.com</a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
