<!-- Services-->
<section class="page-section bg-light" id="services">
  <div class="container">
    <div class="text-center">
      <h2 class="section-heading text-uppercase">Technology</h2>
      <a href="#!"
          ><img
            class="img-fluid img-brand d-block mx-auto"
            src="../../assets/img/icons/Logo White BG.png"
            alt="..."
        /></a>
      <h3 class="section-subheading text-muted">...........</h3>
        
    </div>
    <div class="row text-center">
      <div class="col-md-3">
        <span class="fa-stack fa-4x">
          <i class="fas fa-circle fa-stack-2x text-primary"></i>
          <i class="fas fa-columns fa-stack-1x fa-inverse"></i>
        </span>
        <h4 class="my-3">Frontend/UI</h4>
        <ul class="list-group">
          <li class="list-group-item">Angular</li>
          <li class="list-group-item">React</li>
          <li class="list-group-item">ASP.NET MVC</li>
          <li class="list-group-item">Bootstrap</li>
        </ul>
      </div>
      <div class="col-md-3">
        <span class="fa-stack fa-4x">
          <i class="fas fa-circle fa-stack-2x text-primary"></i>
          <i class="fas fa-server fa-stack-1x fa-inverse"></i>
        </span>
        <h4 class="my-3">Services/Backend</h4>
              <ul class="list-group">
          <li class="list-group-item">ASP.NET Web API</li>
          <li class="list-group-item">ASP.NET MVC</li>
          <li class="list-group-item">Entity Framework</li>
          <li class="list-group-item">Identity Framework</li>
          <li class="list-group-item">WCF</li>
        </ul>
      </div>
      <div class="col-md-3">
        <span class="fa-stack fa-4x">
          <i class="fas fa-circle fa-stack-2x text-primary"></i>
          <i class="fas fa-database fa-stack-1x fa-inverse"></i>
        </span>
        <h4 class="my-3">Databases</h4>
              <ul class="list-group">
          <li class="list-group-item">MySQL</li>
          <li class="list-group-item">SQL Server</li>
          <li class="list-group-item">PostgreSQL</li>
        </ul>
      </div>
      <div class="col-md-3">
        <span class="fa-stack fa-4x">
          <i class="fas fa-circle fa-stack-2x text-primary"></i>
          <i class="fas fa-mobile fa-stack-1x fa-inverse"></i>
        </span>
        <h4 class="my-3">Mobile</h4>
          <ul class="list-group">
            <li class="list-group-item">Ionic</li>
            <li class="list-group-item">React Native</li>
        </ul>
      </div>
    </div>
  </div>
</section>
