<!-- Services-->
<section class="page-section" id="services">
  <div class="container">
    <div class="text-center">
      <h2 class="section-heading text-uppercase">Services</h2>
      <h3 class="section-subheading text-muted">...........</h3>
      <a href="#!"><img class="section-subheading img-fluid img-brand d-block mx-auto"
          src="../../assets/img/icons/Logo White BG.png" alt="..." /></a>
    </div>
    <div class="row text-center">
      <div class="col-md-3">
        <span class="fa-stack fa-4x">
          <i class="fas fa-circle fa-stack-2x text-primary"></i>
          <i class="fas fa-file-code fa-stack-1x fa-inverse"></i>
        </span>
        <h4 class="my-3">Web Development</h4>
        <p class="text-muted">
          Our team at WireServers provides exceptional website development services that cater to your unique business
          needs. Leveraging cutting-edge technology and in-depth industry insights, we build user-friendly, responsive,
          and engaging websites that enhance your online presence.
        </p>
      </div>
      <div class="col-md-3">
        <span class="fa-stack fa-4x">
          <i class="fas fa-circle fa-stack-2x text-primary"></i>
          <i class="fas fa-database fa-stack-1x fa-inverse"></i>
          <i class="fas fa-cog fa-stack-1x font-overlay"></i>
        </span>
        <h4 class="my-3">Database Development</h4>
        <p class="text-muted">
          Effective database development is the backbone of a robust and dynamic website. Our database development
          services offer you a powerful toolkit for managing, organizing, and leveraging your data, ensuring your
          website operates seamlessly and efficiently.
        </p>
      </div>
      <div class="col-md-3">
        <span class="fa-stack fa-4x">
          <i class="fas fa-circle fa-stack-2x text-primary"></i>
          <i class="fas fa-lock fa-stack-1x fa-inverse"></i>
        </span>
        <h4 class="my-3">Security</h4>
        <p class="text-muted">
          In today's digital landscape, website security is non-negotiable. At WireServers, we are committed to
          safeguarding your online presence. Our comprehensive website security services include security analysis,
          OWASP top 10 mitigation, SSL, OAuth, Cryptography, and more.
        </p>
      </div>
      <div class="col-md-3">
        <span class="fa-stack fa-4x">
          <i class="fas fa-circle fa-stack-2x text-primary"></i>
          <i class="fas fa-lock fa-stack-1x fa-inverse"></i>
        </span>
        <h4 class="my-3">DevOps Ticket and CI/CD</h4>
        <p class="text-muted">
          In the fast-paced digital world, continuous innovation and reliability are paramount. At [Your Company Name],
          we offer DevOps Continuous Integration and Continuous Delivery (CI/CD) services to streamline your website's
          development, deployment, and maintenance.
        </p>
      </div>
    </div>
  </div>
</section>