<!-- About-->
<section class="page-section bg-light" id="about">
  <!-- <div class="container">
    <div class="bg"></div>
    <img class="img-fluid" src="../../assets/img/about/website-square.jpg" alt="about">

    <h2 class="section-heading text-uppercase">About</h2>
    <h3 class="section-subheading text-muted">
      Examples of our work.
    </h3>  </div> -->

  <div class="container">
    <div class="image-content">
      <!-- <div class="bg"></div> -->
      <img src="../../assets/img/about/website-square.jpg" alt="Acout us" />
    </div>
    <div class="text-content aside">
      <div class="title">
        <p>Digital Innovators</p>
        <h1>About Us</h1>
        <h4>Bespoke web, application, and consulting services.</h4>
      </div>
      <p class="me-2 mt-4">
        WireServers is a dynamic website development firm that specializes in creating innovative, high-performing, and
        user-focused digital solutions. Our team of expert web developers and designers are adept at delivering
        scalable, secure, and engaging websites tailored to meet unique business needs. In addition to website
        development, WireServers offers comprehensive digital services, security mitigation, and database development.
        Harnessing the power of the latest web technologies, we strive to provide businesses of all sizes with the means
        to strengthen their online presence, accelerate growth, and stay competitive.
      </p>
    </div>
  </div>
</section>
