<!-- Team-->
<section class="page-section" id="team">
  <div class="container">
    <div class="text-center">
      <h2 class="section-heading text-uppercase">Our Amazing Team</h2>
    </div>
    <div class="row">
      <div class="col-lg-6">
        <div class="team-member">
          <img
            class="mx-auto rounded-circle"
            src="../../assets/img/team/Me.jpg"
            alt="..."
          />
          <h4>Todd Clarkston</h4>
          <p class="text-muted">CEO | Architect</p>
          <a
            class="btn btn-dark btn-social mx-2"
            href="https://twitter.com/tclarkston"
            ><i class="fab fa-twitter"></i
          ></a>
          <a
            class="btn btn-dark btn-social mx-2"
            href="https://www.facebook.com/tclarkston"
            ><i class="fab fa-facebook-f"></i
          ></a>
          <a
            class="btn btn-dark btn-social mx-2"
            href="https://www.linkedin.com/in/toddclarkston"
            ><i class="fab fa-linkedin-in"></i
          ></a>
          <a
            class="btn btn-dark btn-social mx-2"
            href="https://www.toddclarkston.me"
            ><i class="fas fa-id-card"></i
          ></a>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="team-member">
          <img
            class="mx-auto rounded-circle"
            src="../../assets/img/team/blank-profile-picture-973460_1280.png"
            alt="..."
          />
          <h4>Rick Haag</h4>
          <p class="text-muted">Developer</p>
          <a
            class="btn btn-dark btn-social mx-2"
            href="ttps://www.linkedin.com/in/rick-haag-10125046/"
            ><i class="fab fa-linkedin-in"></i
          ></a>
        </div>
      </div>
    </div>
  </div>
</section>
